#container {
    display: flex;
    margin: 40px;
}

#introduction {
    display: flex;
    flex-wrap: column;
    width: 100vw;
    box-shadow: 0 4px 2px -2px gray;
}

#header {
    display: flex;
    flex: 50%;
}

#skills {
    display: flex;
    flex-wrap: row;
    flex: 50%;
}

#skill {
    margin: 20px;
    margin-bottom: 40px;
}

#skill > li {
    margin: 20px;
}

#projects-text{
    margin-top: 50px;
}

#projects {
    justify-content: center;
    box-shadow: 0 4px 2px -2px gray;
}

#projects > ul {
    box-shadow: 1px 1px 3px 5px #dbdbdb;
}

#contact {
    margin-top: 50px;
}

@media (max-width: 600px) {
    img {
        max-width: 100%;
    }
    #header-text {
        font-size: 28px;
    }
    #contact-text {
        font-size: 12px;
    }
}