body {
    background-color: black;
    color: rgb(150, 150, 150);
    font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}

.container {
    display: flex;
	justify-content: center;
	flex-direction: column;
    margin: 40px;
	max-width: 600px;
}

.introduction {
    display: flex;
	flex-direction: column;
    width: 100%;
}

.header {
	justify-content: center;
	display: flex;
}

#header-text {
	text-align: center;
}

.skills {
	justify-content: space-around;
	margin: 20px;
    margin-bottom: 40px;
}

h5, h4, a {
    color: #e17dff;
}

#projects-text{
	text-align: center;
    margin-top: 50px;
}

.projects {
    justify-content: space-around;
}

.projects > div > div {
	text-align: center;
}

img {
	width: 200px;
	height: auto;
}

.gif {
	width: 400px !important;
}