body {
    background-color: black;
    color: rgb(150, 150, 150);
    font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}

.container {
    display: flex;
	justify-content: center;
	flex-direction: column;
    margin: 40px;
	max-width: 1200px;
}

.navbar { 
    border-bottom: 1px solid rgb(150, 150, 150);
    
}

.introduction {
    display: flex;
	flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgb(150, 150, 150);
}

.header {
	justify-content: center;
}

.skills {
	justify-content: center;
	margin: 20px;
    margin-bottom: 40px;
}

h5, h4, a {
    color: #e17dff;
}

.header {
    display: flex;
    flex: 50%;
}

#projects-text{
	text-align: center;
    margin-top: 50px;
}

.projects {
    justify-content: center;
    border-bottom: 1px solid rgb(150, 150, 150);
}

.projects > ul {
    list-style-type: none;
}

.projects > li {
    align-content: left;
    justify-content: left;
}

.contact {
    margin-top: 50px;
}
